<h1>Public#home</h1>
<p>Find me in app/views/public/home.html.erb</p>
<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/directions?origin=Helsinki&destination=Turku&key= AIzaSyA4aM_O_PAI4KJi2IqZSuD5RVpthoZevow" allowfullscreen></iframe> 
